* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  background: rgb(87, 85, 83);
  transition: 0.4s ease-in-out;
}

html,
main,
body,
.cartBody,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(87, 85, 83);
}

button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
}

button:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h5 {
  font-size: 1.7em;
}

.containerS {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.amountBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.amountBar div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  z-index: 3;
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  .header-inner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    .logo {
      font-weight: 900;
      letter-spacing: 2px;
      color: #fff;
    }
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          list-style: none;
          margin: 0 60px;
          &.cartBtn {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            padding: 16px 24px;
            gap: 0.75rem;
            border-radius: 10px;
            text-align: center;
            p {
              color: #fff;
              margin: auto;
              font-weight: 600;
            }

            a {
              margin: auto;
              color: #fff;
              font-weight: 600;
            }
          }
          a {
            text-transform: capitalize;
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
}

.cartCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.55rem;
}

.title {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  span {
    display: block;
  }
  @media (max-width: 1440px) {
    font-size: 1rem;
  }
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.loading-bar-container {
  width: 100px;
  height: 32px;
  background: #272727;
}

.loading-bar {
  height: 32px;
  background: #f15946;
}

.canvasArea-div {
  padding: 2%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 95%;
  margin: 1%;
  border: 2px solid plum;
  background-color: rgb(87, 85, 83);
}

.canvasArea {
  justify-self: center;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid blanchedalmond;
  background-color: rgb(57, 53, 51);
  transition: all 0.25s ease-in-out;
  border-radius: 32px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  cursor: pointer;
}

.canvasArea:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(0.9);
}

.canvasArea:default {
  transform: scale(1);
}

.canvasArea::after {
  transform: scale(1);
}

.canvasWrapper {
  max-width: 200px;
  max-height: 250px;
}

canvas {
  height: auto;
  width: auto;
}

.groupWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Amount */

.containerC {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  text-align: center;
}

.amountManage {
  color: rgb(153, 221, 255);
  z-index: 5;
  text-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgb(153, 221, 255) 0 1px 2px, rgb(153, 221, 255) 0 2px 4px,
    rgb(153, 221, 255) 0 4px 8px, rgb(153, 221, 255) 0 8px 16px,
    rgb(153, 221, 255) 0 16px 32px;
  background-color: transparent;
  transition: 1s;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.amountManage:hover {
  /* for second text */
  color: rgba(153, 221, 255, 1);
  text-shadow: 0 0 2px rgba(153, 221, 255, 0.75),
    -4px 5px 0 rgba(153, 221, 255, 0.5);
}

/* Modal */

.modalArea {
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(65, 65, 65, 0.797);
}

.modalBody {
  color: white;
  height: 500px;
  width: 750px;
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  background-color: rgb(57, 53, 51);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.modal-leftSide,
.modal-rightSide {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-leftSide {
  padding: 1rem;
  position: relative;
  max-height: 16rem;
  width: 55%;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
}

.modal-leftSide-firstPart {
  padding: 0;
  background: rgb(39, 37, 37);
}

.modal-description,
.modal-purchase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

/* Notification */

.notification {
  max-width: 430px;
  max-height: 200px;
  overflow: hidden;
  padding: 12px 48px 12px 12px;
  z-index: 99;
  font-weight: bold;
  position: relative;
  transition: transform 0.3s ease-out;
}

#notifyContainer {
  z-index: 999;
}

.notification:not(:last-child) {
  margin-bottom: 8px;
}

.notification.info {
  background-color: #2196f3;
}

.notification.success {
  background-color: #4caf50;
}

.notification.warning {
  background-color: #ff9800;
}

.notification.error {
  background-color: #f44336;
}

.notification .closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.notification,
.notification .closeButton {
  text-align: center;
  color: #fff;
}

.containerN {
  position: fixed;
  top: 16px;
  right: 16px;
}

.notify-container {
  overflow: hidden;
  max-height: 200px;
  transition: 0.3s ease-out;
  z-index: 9999;
}

.notify-container:not(:last-child) {
  margin-bottom: 8px;
}

.shrink {
  max-height: 0;
}

/* More of cart styling */

.cartItem-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartItem {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.cartItem h5,
h4 {
  margin: auto 2px;
  font-size: 1.2em;
}

.cartItem > svg {
  margin-left: auto;
  cursor: pointer;
}

.cartBody {
  display: flex;
  justify-content: center;
}

.cartProducts,
.cartSummary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem;
  text-transform: uppercase;
}

.cartProducts {
  flex: 2.5;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  font-weight: bold;
}

#cartProducts-heading {
  background-color: #393533;
  padding: 1rem;
}

.cartSummary {
  flex: 1;
  margin-right: 4rem;
  background-color: #393533;
}

.cartProducts-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  max-height: 12rem;
}

.cartProducts-product > * {
  display: flex;

  justify-content: center;
  flex-direction: column;
}

.product-description {
  flex: 3;
  gap: 1rem;
  text-transform: uppercase;
}

.description-chars {
  gap: 0;
}

.description-char {
  text-transform: capitalize;
  display: flex;
  align-items: start;
  gap: 7.5px;
  max-height: 1.5rem;
}

.product-description span {
  text-transform: none;
  font-weight: normal;

  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
  max-height: 6ch;
}

.product-image {
  flex: 1;
}

.product-price {
  flex: 1;
  background-color: #393533;
  border-radius: 12px;
  height: 85px;
  max-width: 90px;
  color: white;
}
